






.App {
  text-align: center;
}

.headerone{
  text-align: center;
}
.headertwo{
  text-align: center;
}
.bue{
  background-color: peachpuff;
}
.black{
  position: center;
}


.bitch{
  text-align: center;
}

.lamb{
  text-align: center;
}
.bvn{
  background-color:#1f68cf;
}
.yun{
  padding-top: 2rem;
}
.kun{
  padding-bottom: 2rem;
}



 .val{
   text-align: center;
   padding-top: 2rem;
 }
  .enjoy{
    border:3px;
     border-style:solid;
      border-color:#00c3ff;
       padding:1em;
  }
 
  .vcn{
    color: blanchedalmond;
  }
 .nhu{
   width: 40rem;
   height: rem;
   
 } 
 .mark{
   justify-content: end;
 }
 .sad{
   text-align: center;
 }
.mb{
  text-align: center;
  color: #00c3ff;
}
.navy{
  background-color: #1f68cf;
}
.lan{
  color: #00c3ff;
}
.bag{
  column-width: ;
}
.mau{
  color: yellow;
}
.jau{
  color: black;
}
.carousel .item {
  height: 300px;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

.mas{
  height: 550px;
  top: 0;
  left: 0;
  min-height: 300px;
}
.das{
  align-content: flex-end ;
}

.nb{
  color: yellow;
}
.cv{
  background-color:  #1f68cf;
}
.jc{
  color: yellow;
}
.cj{
  color: white
}
.pc{
  height: 400px;
  top: 0;
  left: 0;
  min-height: 300px;
  min-width: 2000px;
  
}
.df{
  color: #00c3ff;
}
.uy{
  background-color: rgb(255, 208, 0);
}




.rey{
  text-align: center;
  color: #00c3ff;
}
.rut{
  color: aliceblue;
}
.juli{
  color: #1f68cf
}
.xs{
  color: #1f68cf
}
.life{
  background-color: #FFFEB4;
}
.rem{
  background-color: white;
}


.kin{
  color: #00c3ff;
  text-align: center;
}

.fg{
  
}
.cuv{
  text-align:center;
}
.pyt{
  background-color:#1f68cf;
}
.mani{
  color: whitesmoke;
  text-align: center;
  
  font-family: 'Lato', sans-serif;
}
.newt{
  align-content: stretch;
}
.sam{
  border-radius: 25px;
  background-color:  #83EAF1;
}
.dam{
  border-radius: 25px;
  background-color:  #09C6F9 
  ;
}
.fam{
  border-radius: 25px;
  background-color: #63A4FF;
}

.gam{
  border-radius: 25px;
  background-color: #009FFD
  ;
}
.ham{
  border-radius: 25px;
  background-color:  #045DE9;
}
.oam{
  border-radius: 25px;
  background-color: #BFBFFF ;
}
.pam{
  border-radius: 25px;
  background-color: #A3A3FF;
}
.lam{
  border-radius: 25px;
  background-color: #7879FF;
}
.kam{
  border-radius: 25px;
  background-color:  #4949FF;
}