






.App {
  text-align: center;
}

.headerone{
  text-align: center;
}
.headertwo{
  text-align: center;
}
.bue{
  background-color: peachpuff;
}
.black{
  position: center;
}


.bitch{
  text-align: center;
}

.lamb{
  text-align: center;
}
.bvn{
  background-color:#1f68cf;
}
.yun{
  padding-top: 2rem;
}
.kun{
  padding-bottom: 2rem;
}



 .val{
   text-align: center;
   padding-top: 2rem;
 }
  .enjoy{
    border:3px;
     border-style:solid;
      border-color:#00c3ff;
       padding:1em;
  }
 
  .vcn{
    color: blanchedalmond;
  }
 .nhu{
   width: 40rem;
   height: rem;
   
 } 
 .mark{
   justify-content: end;
 }
 .sad{
   text-align: center;
 }
.mb{
  text-align: left;
  color:  #00c3ff;
  padding-left:8rem;
  font-size:4rem;
}
.navy{
  background-color: #1f68cf;
}
.lan{
  color: #00c3ff;
}

.mau{
  color: yellow;
}
.jau{
  color: black;
}
.carousel .item {
  height: 300px;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

.mas{
  height: 550px;
  top: 0;
  left: 0;
  min-height: 300px;
}
.das{
  align-content: flex-end ;
}

.nb{
  color: yellow;
}
.cv{
  background-color: #f5e464;
}
.jc{
  color:  #00c3ff;
  padding-top:4rem;
}
.cj{
  color: white
}
.pc{
  height: 400px;
  top: 0;
  left: 0;
  min-height: 300px;
  min-width: 2000px;
  
}
.df{
  color: yellow;
  padding-bottom:30px;
  padding-top:20px;
}
.uy{
  background-color: #3ccf77;
}




.rey{
  text-align: center;
  color: white;
}
.rut{
  color: aliceblue;
}
.juli{
  color: #1f68cf;
  background-color:#fa8c4d;
}
.xs{
  color: #f5f364;
  padding-top:3rem;
}

.rem{
  background-color: white;
}


.kin{
  color: #00c3ff;
  font-size: 4rem;
}


.cuv{
  text-align:center;
}
.pyt{
  background-color:#1f68cf;
}
.mani{
  color: whitesmoke;
  text-align: center;
  
  font-family: 'Lato', sans-serif;
}
.newt{
  align-content: stretch;
}
.sam{
  border-radius: 25px;
  background-color:  #64f5b9;
}
.dam{
  border-radius: 25px;
  background-color: #64f5d8;
  
}
.fam{
  border-radius: 25px;
  background-color: #64f5ee;
}

.gam{
  border-radius: 25px;
  background-color: #64e2f5
  ;
}
.ham{
  border-radius: 25px;
  background-color:  #64cef5;
}
.oam{
  border-radius: 25px;
  background-color: #9764f5 ;
}
.pam{
  border-radius: 25px;
  background-color: #7564f5;
}
.lam{
  border-radius: 25px;
  background-color: #6481f5;
}
.kam{
  border-radius: 25px;
  background-color:  #64aff5;
}
.piggy{
  background-color:#1bd167;
  
  
}

.mine{
  border-radius:90px
}
.pie{
  color:#fffdfa;
}
.oie{
   color:#fffdfa;
   padding-bottom:50px;
}
.bull{
  background-color:"#fa8c4d";
}

.bail{
  align-content: "center";

}
.jammy{
  color:white;
}
.mine{
  background-color: #f56464;
}
.tam{
  background-color: #cf3ccd;
  border-radius: 25px;
}
.nova{
  font-style: italic;
}